# ---- Core API ----
fastapi
uvicorn
python-dotenv
python-multipart
anyio

# ---- Audio Processing ----
numpy==1.26.4
librosa==0.10.2
soundfile==0.12.1
pydub==0.25.1

# ---- Networking ----
requests==2.32.3

# ---- ML Libraries ----
pandas==2.2.3
scikit-learn==1.6.1
joblib==1.4.2

# ---- Utilities ----
tqdm
typing_extensions
